@page "/"
@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>Posts sharing community</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3> 
    </Authorized> 
    <NotAuthorized>
        You are not logged in.
    </NotAuthorized>
</AuthorizeView> 
Here you can see your content. 
<button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>