@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Forum!</h1>

<p>Navigate to:</p>

<div class="list-group" style="max-width: 400px;">
    <a href="/create-user" class="list-group-item list-group-item-action">
        <h5 class="mb-1">Create New User</h5>
        <p class="mb-1">Register a new user account</p>
    </a>
    <a href="/posts" class="list-group-item list-group-item-action">
        <h5 class="mb-1">View Posts</h5>
        <p class="mb-1">Browse all posts</p>
    </a>
    <a href="/create-post" class="list-group-item list-group-item-action">
        <h5 class="mb-1">Create New Post</h5>
        <p class="mb-1">Share something new</p>
    </a>
</div>